<%= render 'filter_form', start_date: start_date, end_date: end_date, particular: particular, user: user %>
<div class="report-container">
  <div class="report-header" style="text-align: center">
    <h4 style="margin: 0"><%= format_daterange(start_date, end_date) %></h4>
  </div>
</div>
